.display {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../public/assests/background.webp");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.logo {
  position: absolute;
  top: 2%;
  left: 3%;
  height: 7.5rem;
  width: 7.5rem;
  object-fit: contain;
}
.link {
  color: #3466d1;
}
.heading {
  font-weight: bold;
  font-size: 1.3rem;
}
@media (max-width: 840px) {
  .display {
    background-size: contain;
    background-position: bottom;
    background-blend-mode: color-burn;
  }
}
